<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout::head">
    <title>List Posts</title>
</head>
<body>
<h1>List Posts</h1>
<p>
    <a th:href="@{/posts/create}">
        Add new Posts
    </a>
</p>
<p>
    <a th:href="@{/provinces}">
        Provinces
    </a>
</p>
<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>
<table id="posts">
    <thead>
    <tr>
        <th>STT</th>
        <th>Code</th>
        <th>Title</th>
        <th>Content</th>
        <th>Description</th>
        <th>Province</th>
        <th>IMG</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="p, Status: ${posts}">
            <td th:text="${Status.count}"></td>
            <td th:text="${p.getCode()}"></td>
            <td th:text="${p.getTitle()}"></td>
            <td th:text="${p.getContent()}"></td>
            <td th:text="${p.getDescription()}"></td>
            <td th:text="${p.getProvince().getName()}"></td>
            <td><img th:src="@{'/img/'+${p.getImg()}}" width="150" alt=""></td>
            <td>
                <a th:href="@{/posts/update/{id}(id=${p.getId()})}">Update</a>
            </td>
            <td>
                <a th:href="@{/posts/delete/{id}(id=${p.getId()})}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>